.custom_input_container {
    width: 100%;
  
    .custom_input {
      height: 100px;
      font-size: 16px;
      
      border: 1px solid #057765;
      border-radius: 4px;
      background-color: transparent;
  
      &:focus {
        border: 1px solid #11C8B4;
      }
    }
  
    .character_count {
      margin-top: 5px;
      color: #fff;
    }
  }
  