.buttonToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #13232F;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;

  &.visible {
    opacity: 1;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
